<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Erro</title>
</head>
<style>
body{
    background-color:#0000001c;
}
</style>
<body>
    <img src="img/erro_login.png" style="width: 50%; margin-left: 20%; margin-top: 5%;">
</body>
</html>